{"openapi":"3.0.1","servers":[{"url":"https://api.2b2t.vc"}],"paths":{"/tablist":{"get":{"tags":["TabList"],"operationId":"onlinePlayers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OnlinePlayers"}}}}}}}},"/seen":{"get":{"tags":["Seen"],"operationId":"seen","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SeenResponse"}}}}}}},"/queue":{"get":{"tags":["Queue"],"operationId":"queue","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Queuelength"}}}}}}},"/playtime":{"get":{"tags":["Playtime"],"operationId":"playtime","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaytimeResponse"}}}}}}},"/playtime/top/month":{"get":{"tags":["Playtime"],"operationId":"playtimeTopMonth","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlaytimeTopMonthResponse"}}}}}}}},"/names":{"get":{"tags":["Names"],"operationId":"names","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Names"}}}}}}}},"/kills":{"get":{"tags":["Deaths"],"operationId":"kills","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Deaths"}}}}}}}},"/firstSeen":{"get":{"tags":["Seen"],"operationId":"firstSeen","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SeenResponse"}}}}}}},"/deaths":{"get":{"tags":["Deaths"],"operationId":"deaths","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Deaths"}}}}}}}},"/connections":{"get":{"tags":["Connections"],"operationId":"connections","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Connections"}}}}}}}},"/chats":{"get":{"tags":["Chats"],"operationId":"chats","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Chats"}}}}}}}},"/":{"get":{"tags":["application"],"operationId":"hello","responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"OnlinePlayers":{"type":"object","properties":{"playerName":{"type":"string"},"playerUuid":{"type":"string","format":"uuid"}}},"SeenResponse":{"type":"object","properties":{"time":{"type":"string","format":"date-time"}}},"Queuelength":{"type":"object","properties":{"time":{"type":"string","format":"date-time"},"prio":{"type":"integer","format":"int32"},"regular":{"type":"integer","format":"int32"}}},"PlaytimeResponse":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"playtimeSeconds":{"type":"integer","format":"int32"}}},"PlaytimeTopMonthResponse":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"username":{"type":"string"},"playtimeDays":{"type":"number","format":"double"}}},"Names":{"type":"object","properties":{"name":{"type":"string"},"uuid":{"type":"string","format":"uuid"},"changedtoat":{"type":"string","format":"date-time"},"changedfromat":{"type":"string","format":"date-time"}}},"Deaths":{"type":"object","properties":{"time":{"type":"string","format":"date-time"},"deathMessage":{"type":"string"},"victimPlayerName":{"type":"string"},"victimPlayerUuid":{"type":"string","format":"uuid"},"killerPlayerName":{"type":"string"},"killerPlayerUuid":{"type":"string","format":"uuid"},"weaponName":{"type":"string"},"killerMob":{"type":"string"}}},"Connections":{"type":"object","properties":{"time":{"type":"string","format":"date-time"},"connection":{"type":"string","enum":["JOIN","LEAVE"]},"playerName":{"type":"string"},"playerUuid":{"type":"string","format":"uuid"}}},"Chats":{"type":"object","properties":{"time":{"type":"string","format":"date-time"},"chat":{"type":"string"},"playerName":{"type":"string"},"playerUuid":{"type":"string","format":"uuid"}}}}}}