{"openapi":"3.0.1","servers":[{"url":"https://api.2b2t.vc"}],"paths":{"/tablist":{"get":{"tags":["TabList"],"operationId":"onlinePlayers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TablistEntry"}}}}}}}},"/stats/player":{"get":{"tags":["Stats"],"operationId":"playerStats","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlayerStats"}}}}}}},"/seen":{"get":{"tags":["Seen"],"operationId":"seen","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SeenResponse"}}}}}}},"/queue":{"get":{"tags":["Queue"],"operationId":"queue","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Queuelength"}}}}}}},"/playtime":{"get":{"tags":["Playtime"],"operationId":"playtime","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaytimeResponse"}}}}}}},"/playtime/top/month":{"get":{"tags":["Playtime"],"operationId":"playtimeTopMonth","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlaytimeTopMonthResponse"}}}}}}}},"/names":{"get":{"tags":["Names"],"operationId":"names","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Names"}}}}}}}},"/kills":{"get":{"tags":["Deaths"],"operationId":"kills","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Deaths"}}}}}}}},"/firstSeen":{"get":{"tags":["Seen"],"operationId":"firstSeen","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SeenResponse"}}}}}}},"/dump/player":{"get":{"tags":["Data Dump"],"operationId":"getPlayerDataDump","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/deaths":{"get":{"tags":["Deaths"],"operationId":"deaths","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Deaths"}}}}}}}},"/connections":{"get":{"tags":["Connections"],"operationId":"connections","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Connections"}}}}}}}},"/chats":{"get":{"tags":["Chats"],"operationId":"chats","parameters":[{"name":"uuid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"playerName","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Chats"}}}}}}}},"/bots/month":{"get":{"tags":["Bots"],"operationId":"onlinePlayers_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MaxConsMonthView"}}}}}}}}},"components":{"schemas":{"TablistEntry":{"type":"object","properties":{"playerName":{"type":"string"},"playerUuid":{"type":"string","format":"uuid"}}},"PlayerStats":{"type":"object","properties":{"joinCount":{"type":"integer","format":"int32"},"leaveCount":{"type":"integer","format":"int32"},"deathCount":{"type":"integer","format":"int32"},"killCount":{"type":"integer","format":"int32"},"firstSeen":{"type":"string","format":"date-time"},"lastSeen":{"type":"string","format":"date-time"},"playtimeSeconds":{"type":"integer","format":"int32"},"playtimeSecondsMonth":{"type":"integer","format":"int32"},"chatsCount":{"type":"integer","format":"int32"}}},"SeenResponse":{"type":"object","properties":{"time":{"type":"string","format":"date-time"}}},"Queuelength":{"type":"object","properties":{"time":{"type":"string","format":"date-time"},"prio":{"type":"integer","format":"int32"},"regular":{"type":"integer","format":"int32"}}},"PlaytimeResponse":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"playtimeSeconds":{"type":"integer","format":"int32"}}},"PlaytimeTopMonthResponse":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"playerName":{"type":"string"},"playtimeDays":{"type":"number","format":"double"}}},"Names":{"type":"object","properties":{"name":{"type":"string"},"uuid":{"type":"string","format":"uuid"},"changedtoat":{"type":"string","format":"date-time"},"changedfromat":{"type":"string","format":"date-time"}}},"Deaths":{"type":"object","properties":{"time":{"type":"string","format":"date-time"},"deathMessage":{"type":"string"},"victimPlayerName":{"type":"string"},"victimPlayerUuid":{"type":"string","format":"uuid"},"killerPlayerName":{"type":"string"},"killerPlayerUuid":{"type":"string","format":"uuid"},"weaponName":{"type":"string"},"killerMob":{"type":"string"}}},"Connections":{"type":"object","properties":{"time":{"type":"string","format":"date-time"},"connection":{"type":"string","enum":["JOIN","LEAVE"]},"playerName":{"type":"string"},"playerUuid":{"type":"string","format":"uuid"}}},"Chats":{"type":"object","properties":{"time":{"type":"string","format":"date-time"},"chat":{"type":"string"},"playerName":{"type":"string"},"playerUuid":{"type":"string","format":"uuid"}}},"MaxConsMonthView":{"type":"object","properties":{"maxCons":{"type":"integer","format":"int32"},"puuid":{"type":"string","format":"uuid"},"pname":{"type":"string"}}}}}}