{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.2b2t.vc"
    }
  ],
  "paths": {
    "/tablist": {
      "get": {
        "tags": [
          "TabList"
        ],
        "operationId": "onlinePlayers",
        "responses": {
          "200": {
            "description": "List of online players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TablistEntry"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No data"
          }
        }
      }
    },
    "/stats/player": {
      "get": {
        "tags": [
          "Stats"
        ],
        "operationId": "playerStats",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "playerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stats for given player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerStats"
                }
              }
            }
          },
          "204": {
            "description": "No data for player"
          },
          "400": {
            "description": "Bad request. Either uuid or playerName must be provided."
          }
        }
      }
    },
    "/seen": {
      "get": {
        "tags": [
          "Seen"
        ],
        "operationId": "seen",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "playerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "First and last time a player was seen on 2b2t",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeenResponse"
                }
              }
            }
          },
          "204": {
            "description": "No data for player"
          },
          "400": {
            "description": "Bad request. Either uuid or playerName must be provided."
          }
        }
      }
    },
    "/queue": {
      "get": {
        "tags": [
          "Queue"
        ],
        "operationId": "queue",
        "responses": {
          "200": {
            "description": "Current queue length",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Queuelength"
                }
              }
            }
          },
          "204": {
            "description": "No data"
          }
        }
      }
    },
    "/playtime": {
      "get": {
        "tags": [
          "Playtime"
        ],
        "operationId": "playtime",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "playerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playtime for given player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaytimeResponse"
                }
              }
            }
          },
          "204": {
            "description": "No data for player"
          },
          "400": {
            "description": "Bad request. Either uuid or playerName must be provided."
          }
        }
      }
    },
    "/playtime/top/month": {
      "get": {
        "tags": [
          "Playtime"
        ],
        "operationId": "playtimeTopMonth",
        "responses": {
          "200": {
            "description": "Top playtime for the month",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlaytimeTopMonthResponse"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No data for player"
          }
        }
      }
    },
    "/players/priority": {
      "get": {
        "tags": [
          "PriorityPlayers"
        ],
        "operationId": "priorityPlayers",
        "responses": {
          "200": {
            "description": "Gets all players who currently have priority queue",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PriorityPlayersResponse"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No data"
          }
        }
      }
    },
    "/names": {
      "get": {
        "tags": [
          "Names"
        ],
        "operationId": "names",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "playerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Name history for given player",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Names"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No data for player"
          },
          "400": {
            "description": "Bad request. Either uuid or playerName must be provided."
          }
        }
      }
    },
    "/kills": {
      "get": {
        "tags": [
          "Deaths"
        ],
        "operationId": "kills",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "playerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kill history for given player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KillsResponse"
                }
              }
            }
          },
          "204": {
            "description": "No data for player"
          },
          "400": {
            "description": "Bad request. Either uuid or playerName must be provided."
          }
        }
      }
    },
    "/kills/top/month": {
      "get": {
        "tags": [
          "Deaths"
        ],
        "operationId": "killsTopMonth",
        "responses": {
          "200": {
            "description": "Top kills for the month",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeathOrKillTopMonthResponse"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No data for the month"
          }
        }
      }
    },
    "/dump/player": {
      "get": {
        "tags": [
          "Data Dump"
        ],
        "operationId": "getPlayerDataDump",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "playerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data dump for given player",
            "content": {
              "application/csv": {}
            }
          },
          "204": {
            "description": "No data for player"
          },
          "400": {
            "description": "Bad request. Either uuid or playerName must be provided."
          }
        }
      }
    },
    "/deaths": {
      "get": {
        "tags": [
          "Deaths"
        ],
        "operationId": "deaths",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "playerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Death history for given player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeathsResponse"
                }
              }
            }
          },
          "204": {
            "description": "No data for player"
          },
          "400": {
            "description": "Bad request. Either uuid or playerName must be provided."
          }
        }
      }
    },
    "/deaths/top/month": {
      "get": {
        "tags": [
          "Deaths"
        ],
        "operationId": "deathsTopMonth",
        "responses": {
          "200": {
            "description": "Top deaths for the month",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeathOrKillTopMonthResponse"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No data for the month"
          }
        }
      }
    },
    "/connections": {
      "get": {
        "tags": [
          "Connections"
        ],
        "operationId": "connections",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "playerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection history for given player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionsResponse"
                }
              }
            }
          },
          "204": {
            "description": "No data for player"
          },
          "400": {
            "description": "Bad request. Either uuid or playerName must be provided."
          }
        }
      }
    },
    "/chats": {
      "get": {
        "tags": [
          "Chats"
        ],
        "operationId": "chats",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "playerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat history for given player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatsResponse"
                }
              }
            }
          },
          "204": {
            "description": "No data for player"
          },
          "400": {
            "description": "Bad request. Either uuid or playerName must be provided."
          }
        }
      }
    },
    "/chats/word-count": {
      "get": {
        "tags": [
          "Chats"
        ],
        "operationId": "wordCount",
        "parameters": [
          {
            "name": "word",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Counts the number of times a word has appeared in chat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordCount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The word must be at least 4 characters long."
          }
        }
      }
    },
    "/bots/month": {
      "get": {
        "tags": [
          "Bots"
        ],
        "operationId": "onlinePlayers_1",
        "responses": {
          "200": {
            "description": "List of suspected bots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaxConsMonthView"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No data"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TablistEntry": {
        "type": "object",
        "properties": {
          "playerName": {
            "type": "string"
          },
          "playerUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "PlayerStats": {
        "type": "object",
        "properties": {
          "joinCount": {
            "type": "integer",
            "format": "int32"
          },
          "leaveCount": {
            "type": "integer",
            "format": "int32"
          },
          "deathCount": {
            "type": "integer",
            "format": "int32"
          },
          "killCount": {
            "type": "integer",
            "format": "int32"
          },
          "firstSeen": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          },
          "playtimeSeconds": {
            "type": "integer",
            "format": "int32"
          },
          "playtimeSecondsMonth": {
            "type": "integer",
            "format": "int32"
          },
          "chatsCount": {
            "type": "integer",
            "format": "int32"
          },
          "prio": {
            "type": "boolean"
          }
        }
      },
      "SeenResponse": {
        "type": "object",
        "properties": {
          "firstSeen": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Queuelength": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "prio": {
            "type": "integer",
            "format": "int32"
          },
          "regular": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PlaytimeResponse": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "playtimeSeconds": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PlaytimeTopMonthResponse": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "playerName": {
            "type": "string"
          },
          "playtimeDays": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "PriorityPlayersResponse": {
        "type": "object",
        "properties": {
          "playerName": {
            "type": "string"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Names": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "changedtoat": {
            "type": "string",
            "format": "date-time"
          },
          "changedfromat": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Deaths": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "deathMessage": {
            "type": "string"
          },
          "victimPlayerName": {
            "type": "string"
          },
          "victimPlayerUuid": {
            "type": "string",
            "format": "uuid"
          },
          "killerPlayerName": {
            "type": "string"
          },
          "killerPlayerUuid": {
            "type": "string",
            "format": "uuid"
          },
          "weaponName": {
            "type": "string"
          },
          "killerMob": {
            "type": "string"
          }
        }
      },
      "KillsResponse": {
        "type": "object",
        "properties": {
          "kills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deaths"
            }
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "pageCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "DeathOrKillTopMonthResponse": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "playerName": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "DeathsResponse": {
        "type": "object",
        "properties": {
          "deaths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deaths"
            }
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "pageCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "connection": {
            "type": "string",
            "enum": [
              "JOIN",
              "LEAVE"
            ]
          }
        }
      },
      "ConnectionsResponse": {
        "type": "object",
        "properties": {
          "connections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Connection"
            }
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "pageCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Chat": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "chat": {
            "type": "string"
          }
        }
      },
      "ChatsResponse": {
        "type": "object",
        "properties": {
          "chats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chat"
            }
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "pageCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "WordCount": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MaxConsMonthView": {
        "type": "object",
        "properties": {
          "maxCons": {
            "type": "integer",
            "format": "int32"
          },
          "puuid": {
            "type": "string",
            "format": "uuid"
          },
          "pname": {
            "type": "string"
          }
        }
      }
    }
  }
}
